.vs/
bin/
obj/
Properties/
luponio_madederas/appsettings.Development.json
luponio_madederas/appsettings.json
luponio_madereras.csproj
luponio_madereras.csproj.user
luponio_madereras.appsetings.json
luponio_madereras.Development.json